<html>

<head>
    <title>Promo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/promo.css">
</head>

<body>
    <div class="showcase">
        <video src="images/prom.mp4" muted loop autoplay></video>
    </div>
    <header>
    </header>
    <section class="showcase">
        <div class=" text">
            <h3>WELCOME TO </h3>
            <h2><span id="spn1">S</span>KYBRIGHT<span id="spn2">T</span>RAVELS</h2>
            <button class="btn"><a href="/">Continue</a></button>
        </div>
    </section>
</body>

</html>